:root {
    --glsp-error-foreground: var(--theia-editorError-foreground);
    --glsp-warning-foreground: var(--theia-editorWarning-foreground);
    --glsp-info-foreground: var(--theia-editorInfo-foreground);
}

.sprotty-issue-background {
    fill: var(--theia-editor-background);
}

.sprotty-issue.sprotty-error {
    fill: var(--glsp-error-foreground);
}

.sprotty-issue.sprotty-warning {
    fill: var(--glsp-warning-foreground);
}

.sprotty-issue.sprotty-info {
    fill: var(--glsp-info-foreground);
}
