/* expand button */

#selection-palette-expand-button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 9999;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #cccccc;
    visibility: hidden;
    cursor: pointer;
}

.selection-palette {
    position: absolute;
    z-index: 1;
}

/* combined container */

#selection-palette-container {
    position: absolute;
    visibility: hidden;
}

/* search bar */

.selection-palette-search {
    background: #dfdfdf;
    color: black;
    border: #bddaef;
    width: 100%;
    box-sizing: border-box;
    min-height: 20px;
}

.selection-palette-submenu-search-container {
    max-height: 0;
    overflow: hidden;
}

.selection-palette-search-container {
    max-height: 50px;
}

/* header */

.header-title {
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.selection-palette-group-header {
    justify-content: space-between;
    min-width: 100px;
}

/* single containers */

.selection-palette-group-container {
    border: 1px solid black;
    background: #ededee;
    max-width: 200px;
    /* display: flex; */
}

.selection-palette-group-container:hover,
.selection-palette-group-container:focus-within {
    z-index: 10000;
}

.selection-palette-group-container div:first-child {
    border-top: 0;
}

/* container items */

.selection-palette-group {
    overflow-y: auto;
    max-height: 150px;
}

/* scrollbar */
.selection-palette-group::-webkit-scrollbar {
    width: 6px;
}

.selection-palette-group::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

.selection-palette-group::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.selection-palette-group::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.collapsable-group {
    max-height: 0;
    /* transition: max-height 0.2s ease-out; */
}

/* single item */

.selection-palette-button {
    border-top: 1px solid black;
    margin: 0 4px;
    padding: 8px 0;
    z-index: 9998;
    cursor: pointer;
    font-size: 12px;
}

.selection-palette-button:hover {
    background: #dfdfdf;
}
